@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('background-img.jpg');
}
.main-txt{
    color: whitesmoke;
    text-shadow: .03em .03em 0 hsl(200 50% 30%);
    font-size: 7em;
    font-weight: 500;
    letter-spacing: 0.3em;
}
.btn-container{
    margin-top: 2em;
    width: 10em;
    display: flex;
    justify-content: space-around;
}
.btn{
    padding: 0.4em 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease 0s;
}
.btn:hover{
    box-shadow: none;
    transform: translateY(0.1em);
}
.btn-shuffle{
    background-color: #3949ab;
    color: white;
}
.btn-reveal{
    background-color: #006064;
    color: white;
}
